# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor settings
.vscode/

# Dependencies and build output
node_modules/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment files
.env
.env.*
!.env.example

enhancements.txt
SumanKumarDas_Playwright_TechLead_SDET_10Yrs.docx